{% extends 'purepool/base.html' %}

{% block title %}Miner statistics{% endblock %}

{% block content %}

<main role="main" class="miner-details">
  
  <div class="container">
    
    <h1>Miner statistics</h1>
    <h2 class="miner-id">{{  miner.address }}</h2>
    
    
    <div id="share_chart"></div>
      
  </div>
  
  <div class="container additional-content">
    <div class="row">
      
      <div class="col-sm">
        <h3>Worker</h3>
      
        <p>Workers with at least one share in the last 24h</p>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Worker</th>
              <th scope="col">Shares (24h)</th>
            </tr>
          </thead>
          <tbody>
            {% for worker in workers %}
            <tr>
              <th scope="row">{{ worker.0.name }}</th>
              <td>{{ worker.1 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>        

        {% if error_msgs %}
        <h3>Errors</h3>
        <small>List of errors related to your miner in the last 24h</small>
        <table class="table">
          <tbody>
            <tr>
              <th>Errormessage</th>
              <th>Count</th>
            </tr>
            
            {% for error_msg in error_msgs %}
            <tr>
              <td>{{ error_msg.exception_type }}</td>
              <td>{{ error_msg.total }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        {% endif %}

        <!--
        <h3>Infos</h3>

        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Ratio</th>
              <td>{{ miner.ratio }}</td>
            </tr>
            <tr>
              <td colspan="2"><small>Ratio = Amount of your shares required until a block was found in average</small></td>
            </tr>
            <tr>
              <th scope="row">Ratio/Percent</th>
              <td>{{ miner.percent_ratio }} %</td>
            </tr>
            <tr>
              <td colspan="2"><small>Your ratio compared to the average of the pool. 100% = on the level of the pool. Values over 150% will increase your work difficulty. Lower values are better.</small></td>
            </tr>
          </tbody>
        </table>
        -->
        
      </div>      
      
      <div class="col-sm">
        <h3>Transactions</h3>
        
        <p><b>Your current BBP: {{ miner.balance }}</b></p>

        <p>
        <small>BBP for blocks will be shown 24h after a block was found.</small>
        <small>The pool sends the BBP to your wallet between 18:00 and 22:00 UTC every day.</small>
        </p>
        
        <p>Last 100 transactions:</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in transactions %}
            <tr>
              <th scope="row">{{ tx.inserted_at }}</th>
              <td>{{ tx.amount }}</td>
              <td>{{ tx.note }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
            
    </div>
      
  </div>
  
  
</main>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Time');
      data.addColumn('number', 'Shares');

      data.addRows([
        
        {% for day in share_statistics %}
           ['{{ day.0|date:'d b'}}', {{ day.1}} ],
        {% endfor %}

      ]);

      var options = {
        hAxis: {
          title: ''
        },
        vAxis: {
          title: '',
          viewWindow: {
            min:0
          }
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('share_chart'));

      chart.draw(data, options);
    }  
</script>

{% endblock %}